{% extends 'base.html' %}
{% block content %}
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <h1 style="margin-left: 20%"><strong>TODO List</strong></h1>
    <a class="btn btn-primary" style="text-decoration: none; font-size: 1.0rem;" href="{% url 'todo:task-create' %}">Add
      Task</a>
  </div>
  <br>
  <div style="margin-left: 20%">
    {% if task_list %}
      {% for tasks in task_list %}

        <div style="display: flex; justify-content: space-between; align-items: center;">
          <p style="font-size: 20px;"><strong>{{ tasks.content }}</strong>
            {% if tasks.is_done == False %}
              <span style="color: red;"><strong>Not done</strong></span>
            {% else %}
              <span style="color: green;"><strong>Done</strong></span>
            {% endif %}
          </p>
          {% if tasks.is_done == False %}
            <form method="post" action="{% url 'todo:toggle-complete-task' pk=tasks.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-success" style="text-decoration: none; font-size: 1.0rem;">Complete
              </button>
            </form>
          {% else %}
            <form method="post" action="{% url 'todo:toggle-complete-task' pk=tasks.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-secondary" style="text-decoration: none; font-size: 1.0rem;">Undo
              </button>
            </form>
          {% endif %}
        </div>

        <p>Created:{{ tasks.created_date }}
          {% if tasks.deadline %}
            <span style="color: tomato;"><strong>Deadline: {{ tasks.deadline }}</strong></span>
          {% endif %}
        </p>

        {% for tag in tasks.tags.all %}
          <div style="display: flex; align-items: center;">
            <p style="color: grey; margin-right: 10px;"><strong>Tags: {{ tag.name }}</strong>
              <a href="{% url 'todo:task-update' pk=tasks.id %}" style="margin-right: 5px;">Update</a>
              <a href="{% url 'todo:task-delete' pk=tasks.id %}">Delete</a>
            </p>
          </div>
        {% endfor %}
        <hr>
      {% endfor %}
    {% else %}
      <p>There are no tasks yet...</p>
    {% endif %}
  </div>
{% endblock %}
