{% extends "base.html" %}
{% block content %}
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <h1 style="margin-left: 20%"><strong>Tags</strong></h1>
    <a class="btn btn-primary" style="text-decoration: none; font-size: 1.0rem;"
       href="{% url 'todo:tag-create' %}">Add</a>
  </div>
  <div style="margin-left: 20%">
    {% if tag_list %}
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
        </thead>
        {% for tag in tag_list %}
          <tbody>
          <tr>
            <td>{{ tag.name }}</td>
            <td><a class="btn btn-secondary" href="{% url 'todo:tag-update' pk=tag.id %}">Update</a></td>
            <td><a class="btn btn-secondary" href="">Delete</a></td>
          </tr>
          </tbody>
        {% endfor %}
      </table>
    {% else %}
      <p>There are no tags yet.</p>
    {% endif %}
  </div>
{% endblock %}
